
.hourlyDisplay{ 
    display: flex;
    border: 2px solid #ededed;
    flex-direction: row;
    margin-left: 25px;    
    margin-right: 25px;
    width: 95vw;
    margin-bottom: 12px;
    padding: 5px;
    border-radius: 3px;
}


.time {
    margin-left: left;
    white-space: nowrap
}   

.maxtemp {
    margin-left: 20vw;
    white-space: nowrap
}
.mintemp{
    margin-left: 10vw;
    white-space: nowrap
}
.icon{
    margin-left: 10vw;

}

.main {
    margin-left: 20vw;
    color: grey;
    white-space: nowrap
    
}

